<%- include('../partials/head'); %>
    <h1>
        <%= post.title %>
    </h1>
    <span>
        <%= post.author %>
    </span>
    <post-content>
        <%- post.content %>
    </post-content>
    <a href="/">Go back</a>
<%- include('../partials/footer'); %>